@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto&family=Russo+One&display=swap');


html {
  margin: 0;
  background-color: #065A82;
  height: 100%;
  color: black;
  max-width: 100%;
  position: relative;
  font-size: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
